body{
	background-image: url("rsz_uppgift_-_kopia.jpg");
	text-align: center;
	background-size: cover;
}

h1{
	font-size: 200%;
	margin-top: 50px;
}

section{
	width: 20%;
	height: 20%;
	background-color: green;
	float: left;
	margin: 6.4%;
	border-radius: 10px;
	border-style: solid;
	background-image: url("rsz_mus.jpg");
	background-size: cover;
}
p{
	margin-top: 40px;

}

article{
	clear: both;
	font-size: 150%;
	font-color: green;
}

footer{
	margin-top: 150px;

}
